{% extends "base.html.twig" %}

{% block body %}
	<div class="container mt-4">

		<div class="row justify-content-center">

			<div class="col-7">

				{% if invoice.isCompleted %}
					<div class="alert alert-success" role="alert">
						This invoice is completed.
					</div>
				{% elseif invoice.isCanceled %}
					<div class="alert alert-danger" role="alert">
						This invoice is canceled.
					</div>
				{% else %}
					<div class="alert alert-primary" role="alert">
						This invoice is active.
					</div>
				{% endif %}

			</div>

		</div>

		<div class="row justify-content-center">

			<div class="col-6">

				<h1>{{ invoice.name }} - {{ invoice.client.name }}</h1>

				<table class="table">
					<tbody>
						<tr>
							<th scope="row">Invoice Date</th>
							<td>{{ invoice.date|date('m/d/Y') }}</td>
						</tr>
						<tr>
							<th scope="row">Period</th>
							<td>{{ invoice.periodStart|date('m/d/Y') }} - {{ invoice.periodEnd|date('m/d/Y') }}</td>
						</tr>
						{% if not (invoice.isCanceled) %}
							<tr>
								<th scope="row">Download</th>
								<td>
									<a href="{{ path('client_download_invoice', {clientUuid:invoice.client.uuid, invoiceUuid:invoice.uuid}) }}" class="btn btn-primary" type="button">CSV</a>
								</td>
							</tr>
						{% endif %}
					</tbody>
				</table>

			</div>

		</div>

		<div class="row justify-content-center">

			<div class="col-6">

				{% if invoice.description %}
					<div class="border border-bottom-0 rounded-top p-2 text-black-50 bg-light">
						<em>{{ invoice.description|raw }}</em>
					</div>
				{% endif %}

				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Qty</th>
							<th scope="col">Item</th>
							<th scope="col" class="text-right">Unit Price</th>
							<th scope="col" class="text-right">Price</th>
						</tr>
					</thead>
					<tbody>
						{% for item in invoice.items %}
							<tr>
								<td>
									{{ item.quantity }}
								</td>
								<td>
									{{ item.name }}
									{% if item.url is not empty %}
										<br>
										<small><a href="{{ item.url }}" target="_blank">{{ item.url|length > 32 ? item.url|slice(0,32) ~ '...' : item.url }}</a></small>
									{% endif %}
									{% if item.description is not empty %}
										<br>
										<small>{{ item.description|raw }}</small>
									{% endif %}
								</td>
								<td class="text-right">
									{{ item.unitPrice }}
								</td>
								<td class="text-right">
									{{ item.lineTotal }}
								</td>
							</tr>
						{% endfor %}
						<tr>
							<th colspan="3" class="text-right{{ invoice.isCompleted ? ' text-success' : '' }}" scope="row">
								Total
							</td>
							<td class="text-right font-weight-bold">
								{% if invoice.isCompleted %}
									<span class="text-success">{{ invoice.subtotal }}</span>
								{% else %}
									{{ invoice.subtotal }}
								{% endif %}
							</td>
						</tr>
					</tbody>
				</table>

			</div>

		</div>

	</div>
{% endblock %}